@import "./fonts.css";
/* Fonts */

html,
body,
section {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

section {
    overflow: hidden;
}

a:visited {
    text-decoration: none !important;
}

/* General */

/* Section Headers */

.landing-section-header {
    width: 100%;
}

.landing-section-header img {
    width: 20%;
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* Yellow Buttons */

.yellow-button {
    transition: 0.5s;
    border: rgba(255, 208, 0, 0) 1px solid;
    background-color: #FFD200;
    border-radius: 20px;
    width: 220px;
    padding: 7px 0;
    color: #1A1A1A;
    font-weight: 600;
    font-size: 22px;
    font-family: "Montserrat";
    text-align: center;
}

.yellow-button:hover {
    background-color: #1A1A1A;
    color: #FFD200;
    border: #FFD200 1px solid;
    font-weight: 500;
}


/* Navbar */

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
}

.navbar-logo {
    width: 15%;
}

.navbar-logo img {
    width: 80%;
    display: block;
    margin: auto;
}

.nav-contact {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
}

.nav-contact p {
    font-weight: 500;
    transition: 0.5s;
    color: #333333;
    margin-left: 5px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nav-contact a div {
    display: inline-block;
}



.nav-social {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

.nav-social a, .nav-contact > a > div{
    border: 1px solid #FFD200;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    transition: 0.5s;
}

.nav-social a:hover{
    border: 1px solid rgba(212, 212, 212, 0);
    color: #1A1A1A;
    background-color: #FFD200;
}

.nav-contact a:hover p{
    color: #FFD200;
}

.nav-contact a:hover .nav-contact-icons {
    border: 1px solid rgba(212, 212, 212, 0);
    color: #1A1A1A;
    background-color: #FFD200;
}

.nav-social i, .nav-contact i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.nav-menu {
    width: 50%;
    float: right;
    display: flex;
    justify-content: space-evenly;
}

.nav-menu a {
    font-weight: 600;
    text-decoration: none;
    color: #1A1A1A;
    transition: 0.5s;
}

.nav-menu a:hover {
    color: #FFD200;
    transform: scale(1.1)
}









/* -------------------------------------------------------------------------------- */

/* LANDING PAGE */

/* Landing section */

.landing-section {
    /* position: absolute;
    top: 0; */
    height: 100vh;
    width: 100vw;
    background-image: url("../images/backgrounds/home-page/landing-section.jpg");
    background-size: cover;
    background-position: top left;
}

.landing-div {
    background-color: rgba(48, 43, 43, 0.6);
    height: 100%;
    width: 45%;
    text-align: center;
    font-family: "Montserrat";
    color: white;
    position: relative;
}

.landing-div>div:nth-child(1) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.landing-div img {
    width: 65%;
    margin: 15px 0;
}

.landing-div h1 {
    font-weight: 600;
    font-size: 50px;
}

.landing-div h3 {
    font-weight: 400;
    font-size: 30px;
}

.landing-div h2 {
    font-weight: 500;
    font-size: 34px;
    color: #FFD200;
    border-top: #FFD200 1px solid;
    border-bottom: #FFD200 1px solid;
    width: 50%;
    margin: auto;
    margin: 20px auto;
    padding: 2px 0;
}

.products-arrow {
    position: absolute;
    bottom: 2%;
    text-align: center;
    width: 100%;
}

.products-arrow a {
    font-weight: 300;
    font-size: 20px;
    color: #FFD200;
    cursor: pointer;
    text-decoration: none;
}

.products-arrow p,
.products-arrow i {
    transition: 0.5s;
    position: relative;
}

.products-arrow:hover p {
    font-weight: 400;
}

.products-arrow:hover i {
    font-size: 23px;
    animation: arrows-move 1.5s infinite;
}

@keyframes arrows-move {
    from {
        top: 0px;
    }

    to {
        top: 50px;
    }
}





/* Products Section */

.landing-products-section {
    background-image: url("../images/backgrounds/home-page/products-section.jpg");
    background-size: cover;
    background-position: center;
}

.landing-product-grid {
    display: flex;
    /* height: 50vh; */
    width: 80%;
    padding: 3% 10%;
    justify-content: space-between;
}

.landing-product-category {
    width: 30%;
    text-align: center;
    cursor: pointer;
}

.landing-product-category>div {
    border: 2px solid #333333;
    border-radius: 20px;
}

.landing-product-category-image {
    background-position: center;
    background-size: cover;
    height: 35vh;
}

.landing-product-category:nth-child(1) .landing-product-category-image {
    background-image: url("../images/products/product-categories/ladders.jpg");
}

.landing-product-category:nth-child(2) .landing-product-category-image {
    background-image: url("../images/products/product-categories/Castors.jpg");
}

.landing-product-category:nth-child(3) .landing-product-category-image {
    background-image: url("../images/products/product-categories/Trolleys.jpg");
}

.landing-product-category-name {
    padding: 5px 0;
    margin-top: 15px;
    transition: 0.5s;
}

.landing-product-category-name h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 28px;
}

.landing-product-category-inner {
    width: 100%;
    height: 100%;
    background-color: #1A1A1A;
    border-radius: 18px;
    opacity: 0;
    transition: 0.5s;
}

.landing-product-category:hover .landing-product-category-inner {
    opacity: 0.7;

}

.landing-product-category:hover .landing-product-category-name {
    background-color: #1A1A1A;
    opacity: 0.9;
    color: #FFD200;
}

.landing-product-category:hover .landing-product-category-name h1 {
    font-weight: 500;
}

.landing-products-section .yellow-button {
    margin-bottom: 50px;
}


/* More Section */
.landing-more-section {
    background-color: #1A1A1A;
    display: flex;
    font-family: "Montserrat";
    padding: 5% 5%;
    align-items: center;
}

.landing-more-section>div:nth-child(1) {
    width: 65%;
    padding-right: 10%;
}

.landing-more-section>div:nth-child(2) {
    width: 35%;
    text-align: center;
}

.landing-more-section h1 {
    font-weight: 600;
    color: #FFD200;
    margin-bottom: 10px;
    font-size: 28px;
}

.landing-more-section p {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 300;
}

.landing-more-button {
    margin: auto;
}

.landing-more-section>div:nth-child(2) p {
    margin: 10px 0;
}

/* About Section */

.landing-about-section {
    background-image: url("../images/backgrounds/home-page/about-section.jpg");
    background-position: center;
    background-size: cover;
    padding: 3% 0;
}

.about-more-button {
    margin: auto;
}

.landing-about-section p {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    padding: 3% 12% 3% 12%;
}

.stat-grid {
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 3% 5%;
    text-align: center;
}

.stat {
    width: 25%;
}

.stat-name {
    font-family: "Montserrat";
    font-weight: 500;
    color: #FFFFFF;
    font-size: 24px;
    padding-top: 10px;
}

.stat-number {
    border: 2px solid #FFD200;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: calc(50% - 50px);
}

.stat-number p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Montserrat";
    font-weight: 600;
    color: #FFFFFF;
    font-size: 26px;
}


/* Extra Section */

.extra-section {
    padding: 3% 0;
}

.extra-section div a:nth-child(1) .landing-product-category-image {
    background-image: url("../images/extra/ladder-safety.jpg");
}

.extra-section div a:nth-child(2) .landing-product-category-image {
    background-image: url("../images/extra/catalogue.jpg");
}

.extra-section div a:nth-child(3) .landing-product-category-image {
    background-image: url("../images/products/product-categories/Trolleys.jpg");
}



/* Footer */

footer {
    background-color: #1A1A1A;
    padding: 2% 5% 1% 5%;
    font-family: "Montserrat";
}

footer > div {
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-line {
    height: 1px;
    width: 100%;
    background-color: #535353;
    margin: 10px 0;
}

.footer-row-1 .footer-social {
    width: 20%;
    margin: 0 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-social i {
    color: #535353;
    font-size: 26px;
}

.footer-row-1 .footer-news {
    width: 50%;
    text-align: center;
}

.footer-news p {
    font-weight: 600;
    color: #FFFFFF;
}

.footer-row-2 {
    justify-content: space-evenly;
    text-align: center;
    padding: 5px 0;
}
.footer-row-2 a {
    width: 33%;
    color: #535353;
    font-weight: 500;
    font-size: 18px;
}

.footer-row-2 a i {
    margin-right: 10px;
}

.footer-row-3 img {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
}

.footer-logo {
    width: 30%;
    margin-right: 10%;
}

.footer-menu {
    width: 60%;
    display: flex;
    text-align: center;
    align-items: center;
}

.footer-menu a {
    width: 20%;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

footer a {
    cursor: pointer;
    transition: 0.4s;
}

footer a:hover, .footer-social a :hover {
    color: #FFD200;
    transform: scale(1.1)
}

