@import "./fonts.css";
/* Fonts */

html,
body,
section {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

section {
    overflow: hidden;
}

a:visited {
    text-decoration: none !important;
}

/* General */

/* Section Headers */

.landing-section-header {
    width: 100%;
}

.landing-section-header img {
    width: 20%;
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* Page Headers */

.page-header {
    width: 100%;
    height: 30vh;
    background-position: center;
    background-size: cover;
}

.page-header img {
    width: 25%;
    display: block;
    margin: auto;
    margin-top: 10px;
    position: relative;
    top: 65%;
    transform: translateY(-50%);
}

/* Yellow Buttons */

.yellow-button {
    transition: 0.5s;
    border: rgba(255, 208, 0, 0) 1px solid;
    background-color: #FFD200;
    border-radius: 20px;
    width: 220px;
    padding: 7px 0;
    text-align: center;
    cursor: pointer;
}

.yellow-button a {
    color: #1A1A1A;
    font-weight: 600;
    font-size: 22px;
    font-family: "Montserrat";

    text-decoration: none !important;
}

.yellow-button:hover {
    background-color: #1A1A1A;
    color: #FFD200;
    border: #FFD200 1px solid;
    font-weight: 500;
}

.yellow-button:hover a {
    color: #FFD200;
    font-weight: 500;
}


/* ScrollBar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #FFD200;
}

::-webkit-scrollbar-thumb:hover {
    background: #1A1A1A;
}




/* Navbar */

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
    transition: top 0.3s;
    box-shadow: 0px 1px 10px rgba(26, 26, 26, 0.356);
}

.navbar-logo {
    width: 15%;
}

.navbar-logo img {
    width: 80%;
    display: block;
    margin: auto;
}

.nav-contact {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;

}

.nav-contact a {
    text-decoration: none;
}

.nav-contact p {
    font-weight: 500;
    transition: 0.5s;
    color: #333333;
    margin-left: 5px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nav-contact a div {
    display: inline-block;
}



.nav-social {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.nav-social a,
.nav-contact>a>div {
    border: 1px solid #FFD200;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    transition: 0.5s;
}

.nav-social a:hover {
    border: 1px solid rgba(212, 212, 212, 0);
    color: #1A1A1A;
    background-color: #FFD200;
    transform: scale(1.1);
}

.nav-contact a:hover p {
    color: #FFD200;
}

.nav-contact a:hover .nav-contact-icons {
    border: 1px solid rgba(212, 212, 212, 0);
    color: #1A1A1A;
    background-color: #FFD200;
}

.nav-social i,
.nav-contact i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #1A1A1A;
}

.nav-menu {
    width: 50%;
    float: right;
    display: flex;
    justify-content: space-evenly;
}

.nav-menu a {
    font-weight: 600;
    text-decoration: none;
    color: #1A1A1A;
    transition: 0.5s;
}

.nav-menu a:hover {
    color: #FFD200;
    transform: scale(1.1)
}


/* Mobile Navbar */
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    background-color: rgba(26, 26, 26, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 20px 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFD200;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #ffffff;
    transform: scale(1.1);

}

.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 60px;
    padding: 0 !important
}

.mobile-nav-button {
    display: none;
}

.mobile-nav-button>a {
    float: right;
    margin-right: 35px;
    transition: 0.4s;
}

.mobile-nav-button i {
    font-size: 22px;
    color: #1A1A1A;
    padding: 5px 8px;
}

.mobile-nav-button a:hover {
    background-color: #FFD200;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1);
}







/* -------------------------------------------------------------------------------- */

/* LANDING PAGE */

/* Landing section */

.landing-section {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/backgrounds/home-page/landing-section.jpg");
    background-size: cover;
    background-position: top left;
    transition: 0.7s;

}

.landing-div {
    background-color: rgba(48, 43, 43, 0.6);
    height: 100%;
    width: 45%;
    text-align: center;
    font-family: "Montserrat";
    color: white;
    position: absolute;
    transition: left 0.7s;
    transition: right 0.7s;
}

.landing-div>div:nth-child(1) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.landing-div img {
    width: 65%;
    margin: 15px 0;
}

.landing-div h1 {
    font-weight: 600;
    font-size: 50px;
}

.landing-div h3 {
    font-weight: 400;
    font-size: 30px;
}

.landing-div h2 {
    font-weight: 500;
    font-size: 34px;
    color: #FFD200;
    border-top: #FFD200 1px solid;
    border-bottom: #FFD200 1px solid;
    width: 60%;
    margin: auto;
    margin: 20px auto;
    padding: 2px 0;
}

.products-arrow {
    position: absolute;
    bottom: 2%;
    text-align: center;
    width: 100%;
}

.products-arrow a {
    font-weight: 300;
    font-size: 20px;
    color: #FFD200;
    cursor: pointer;
    text-decoration: none;
}

.products-arrow p,
.products-arrow i {
    transition: 0.5s;
    position: relative;
}

.products-arrow:hover p {
    font-weight: 400;
}

.products-arrow:hover i {
    font-size: 23px;
    animation: arrows-move 1.5s infinite;
}

@keyframes arrows-move {
    from {
        top: 0px;
    }

    to {
        top: 50px;
    }
}





/* Products Section */

.landing-products-section {
    background-image: url("../images/backgrounds/home-page/products-section2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.landing-product-grid {
    display: flex;
    /* height: 50vh; */
    width: 80%;
    padding: 3% 10%;
    justify-content: space-between;
}

.landing-product-category {
    width: 30%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #1A1A1A;
}

.landing-product-category>div {
    border: 2px solid #333333;
    border-radius: 20px;
}

.landing-product-category-image {
    background-position: center;
    background-size: cover;
    height: 35vh;
}

.landing-product-category:nth-child(1) .landing-product-category-image {
    background-image: url("../images/products/product-categories/ladders.jpg");
}

.landing-product-category:nth-child(2) .landing-product-category-image {
    background-image: url("../images/products/product-categories/Castors.jpg");
}

.landing-product-category:nth-child(3) .landing-product-category-image {
    background-image: url("../images/products/product-categories/Trolleys.jpg");
}

.landing-product-category-name {
    padding: 5px 0;
    margin-top: 15px;
    transition: 0.5s;
}

.landing-product-category-name h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
}

.landing-product-category-inner {
    width: 100%;
    height: 100%;
    background-color: #1A1A1A;
    border-radius: 18px;
    opacity: 0;
    transition: 0.5s;
}

.landing-product-category:hover .landing-product-category-inner {
    opacity: 0.7;

}

.landing-product-category:hover .landing-product-category-name {
    background-color: #1A1A1A;
    opacity: 0.9;
    color: #FFD200;
}

.landing-product-category:hover .landing-product-category-name h1 {
    font-weight: 500;
}

.landing-products-section .yellow-button {
    margin-bottom: 50px;
}


/* More Section */
.landing-more-section {
    background-color: #1A1A1A;
    display: flex;
    font-family: "Montserrat";
    padding: 4% 4% !important;
    align-items: center;
}

.landing-more-section>div:nth-child(1) {
    width: 65%;
    padding-right: 10%;
}

.landing-more-section>div:nth-child(2) {
    width: 35%;
    text-align: center;
}

.landing-more-section h1 {
    font-weight: 600;
    color: #FFD200;
    margin-bottom: 10px;
    font-size: 28px;
}

.landing-more-section p {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 300;
}

.landing-more-button {
    margin: auto;
}

.landing-more-section>div:nth-child(2) p {
    margin: 10px 0;
}

/* About Section */

.landing-about-section {
    background-image: url("../images/backgrounds/home-page/about-section.jpg");
    background-position: center;
    background-size: cover;
    padding: 3% 0;
    background-attachment: fixed;
}

.about-more-button {
    margin: auto;
    margin-top: 20px;
}

.landing-about-section p {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    padding: 3% 12% 3% 12%;
}

.stat-grid {
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 3% 5%;
    text-align: center;
}

.stat {
    width: 25%;
}

.stat-name {
    font-family: "Montserrat";
    font-weight: 500;
    color: #FFFFFF;
    font-size: 24px;
    padding-top: 10px;
}

.stat-number {
    border: 2px solid #FFD200;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: calc(50% - 50px);
}

.stat-number p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Montserrat";
    font-weight: 600;
    color: #FFFFFF;
    font-size: 26px;
}


/* Extra Section */

.extra-section {
    padding: 3% 0;
    background-image: url("../images/backgrounds/home-page/products-section2.jpg");
    background-size: cover;
    background-position: center;

}

.extra-section div a:nth-child(1) .landing-product-category-image {
    background-image: url("../images/extra/ladder-safety.jpg");
}

.extra-section div a:nth-child(2) .landing-product-category-image {
    background-image: url("../images/extra/catalogue.jpg");
}

.extra-section div a:nth-child(3) .landing-product-category-image {
    background-image: url("../images/products/product-categories/Trolleys.jpg");
}



/* Footer */

footer {
    background-color: #1A1A1A;
    padding: 2% 5% 1% 5%;
    font-family: "Montserrat";
}

footer>div {
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-line {
    height: 1px;
    width: 100%;
    background-color: #535353;
    margin: 10px 0;
}

.footer-row-1 .footer-social {
    width: 20%;
    margin: 0 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-social i {
    color: #535353;
    font-size: 26px;
}

.footer-row-1 .footer-news {
    width: 50%;
    text-align: center;
}

.footer-news p {
    font-weight: 600;
    color: #FFFFFF;
}

.footer-row-2 {
    justify-content: space-evenly;
    text-align: center;
    padding: 5px 0;
}

.footer-row-2 a {
    width: 33%;
    color: #535353;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.footer-row-2 a i {
    margin-right: 10px;
}

.footer-row-3 img {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
}

.footer-logo {
    width: 30%;
    margin-right: 10%;
}

.footer-menu {
    width: 60%;
    display: flex;
    text-align: center;
    align-items: center;
}

.footer-menu a {
    width: 20%;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

footer a {
    cursor: pointer;
    transition: 0.4s;
}

footer a:hover,
.footer-social a :hover {
    color: #FFD200;
    transform: scale(1.1)
}

.footer-row-4 {
    display: block;
    margin-top: 5px;
}

.footer-row-4 p{
    display: block;
    text-align: center;
    color: #666666;
}

.footer-row-4 a{
    text-decoration: none;
    color: white;
}






/* --------------------------------------------------------------------- */

/* CONTACT PAGE */

.contact-page-header {
    background-image: url("../images/section-headers/contact-page-header.jpg");
}

.contact-page-body section {
    padding-top: 2%;
}

.white-back-heading {
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
}

.white-back-heading h1 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 35px;
    border-bottom: 2px solid #FFD200;
    padding-bottom: 3px;
    color: #333333;
    text-transform: uppercase;
}

.black-back-heading {
    display: inline-block;
    margin-left: 40px;
}

.black-back-heading h1 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 35px;
    border-bottom: 2px solid #535353;
    padding-bottom: 3px;
    color: #FFD200;
    text-transform: uppercase;
}

.contact-details-grid {
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 2% 10%;
    font-family: "Montserrat"
}

.contact-details {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.contact-details a,
.contact-social a {
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    text-decoration: none !important;
}

.contact-details a div,
.contact-social a div {
    border: #FFD200 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    transition: 0.4s;
}

.contact-details a div i,
.contact-social a div i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #1A1A1A;
}

.contact-details a p,
.contact-social a p {
    color: #1A1A1A;
    font-weight: 500;
    font-size: 20px;
    transition: 0.4s;
    font-family: "Montserrat"
}

.contact-details a:hover p,
.contact-social a:hover p {
    color: #FFD200;
}

.contact-details a:hover div,
.contact-social a:hover div {
    background-color: #FFD200;
}

.contact-social {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20%;
}


.contact-emails>div {
    padding: 5%;
    background-color: #33333313;
}

.contact-emails h1 {
    font-weight: 700;
    color: #1A1A1A;
    margin-top: 25px;
    font-size: 20px;
}

.contact-emails a {
    font-weight: 400;
    text-decoration: none;
    color: #1A1A1A;
    margin: 5px 0 25px 25px;
    font-style: italic;
    font-size: 16px;
}



.contact-form-section {
    background-color: #1A1A1A;
    font-family: "Montserrat"
}

.contact-form-section>div:nth-child(2) {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 2% 5%;

}

.contact-form-text {
    display: flex;
    align-items: center;
    margin-top: -10%;
}

.contact-form-text div {
    border: #FFD200 1px solid;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    margin-right: 20px;
    transition: 0.4s;
}

.contact-form-text div i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    color: #FFFFFF;
}

.contact-form-text p {
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 25px;
}

.contact-form input,
.contact-form textarea {
    grid-column: 1 / span 1;
    background-color: transparent;
    border: 2px solid #535353;
    border-radius: 20px;
    padding: 8px 10px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.contact-form textarea {
    grid-area: 1/2/4/3;
}


.submit-button {
    grid-area: 4/1/5/3 !important;
    border: 2px solid #FFD200 !important;
    color: #FFD200 !important;
    display: block;
    margin: auto;
    width: 150px;
    cursor: pointer;
    transition: 0.4s;
}

.submit-button:hover {
    border: 2px solid #FFD200 !important;
    color: #1A1A1A !important;
    background-color: #FFD200 !important;
    display: block;
    margin: auto;
    width: 150px;
    cursor: pointer;
    font-weight: 600 !important;
}


.contact-map-section div:nth-child(2) {
    padding: 5%;
    height: 50vh;
}

.contact-map-section iframe {
    width: 100%;
    height: 100%;
}


/* Contact Modal */

.form-modal {
    height: 50vh;
    width: 50vw;
    background-color: rgba(255, 208, 0, 0.95);
    position: fixed;
    z-index: 20;
    top: 25vh;
    left: 25vw;
    display: none;
}

.form-modal i {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #1A1A1A;
    transition: 0.4s;
}

.form-modal i:hover {
    cursor: pointer;
    color: #FFFFFF
}

.form-modal div {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #1A1A1A;
    padding: 20px;
}

.form-modal div h1 {
    font-size: 30px;
    padding-bottom: 20px;
}

.form-modal div p {
    font-size: 22px;
}

/* ---------------------------------------------------------------------  */

/* ABOUT PAGE */

.about-page-header {
    background-image: url("../images/section-headers/about-page-header.jpg");

}

.about-page-body section {
    padding-top: 2%;
    background-size: cover;
    background-position: center;

}

.about-stat-section {
    background-image: url("../images/backgrounds/about-page/stat-section.jpg");
}

.about-history-section {
    background-image: url("../images/backgrounds/about-page/history-section.jpg");
    background-attachment: fixed;
}

.about-team-section {
    background-image: url("../images/backgrounds/about-page/team-section.jpg");
    background-attachment: fixed;
}

.about-history-section p {
    padding: 3% 10%;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
}

.about-team-grid {
    display: flex;
    padding: 2% 5% 2% 15%;
    align-items: center;
    justify-content: space-evenly;
}

.team-member {
    height: 300px;
    width: 300px;
    background-position: c;
    background-size: cover;
}

.about-team-grid .team-member:nth-child(1) {
    background-image: url("../images/team/andre.jpg");
}

.about-team-grid .team-member:nth-child(2) {
    background-image: url("../images/team/sarah.jpg");
}

.about-team-grid .team-member:nth-child(3) {
    background-image: url("../images/team/john.jpg");
}

.team-member-inner {
    background-color: #1A1A1A;
    height: 100%;
    width: 0%;
    opacity: 0;
    transition: 0.6s;
    font-family: "Montserrat";
    text-align: center;
}

.team-member:hover .team-member-inner {
    width: 100%;
    opacity: 0.8;
}

.team-member:hover h2,
.team-member:hover h5 {
    opacity: 1;
    width: 90%;
}

.team-member-inner>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    word-wrap: break-word;
}

.team-member-inner h2 {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 10px;
    opacity: 0;
    transition-delay: 0.3s;
    width: 0;
    padding: 0 5%;
}

.team-member-inner h5 {
    font-weight: 300;
    color: #FFFFFF;
    font-size: 22px;
    opacity: 0;
    transition-delay: 0.3s;
    width: 0;
    padding: 0 5%;
}


.about-overview-grid {
    display: flex;
    padding: 2% 5% 2% 10%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Montserrat"
}

.overview-item {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.overview-item div:nth-child(1) {
    margin-right: 30px;
}

.overview-icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border: #FFD200 solid 1px;
    border-radius: 50%;
}

.overview-icon i {
    color: #1A1A1A;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}

.overview-text h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

.overview-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}



/* ------------------------------------------------------------------------- */

/* Products Page */



.products-page-header {
    background-position: center;
    background-size: cover;
    height: 20vh;
    position: relative;
    margin-top: 6%;
    left: 5%;
    border-radius: 25px;
    width: 90%;
    transition: 0.5s;
}

.products-page-header img {
    margin: auto;
    display: block;
    width: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.products-page-header {
    background-image: url("../images/section-headers/ladder-page-header.jpg");
}



.products-nav {
    display: grid;
    width: 90%;
    margin: 30px 5% 30px 5%;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.products-nav>div {
    width: 25%;
    display: inline-block;
}

.products-nav a {
    width: 200px !important;
    text-align: center;
    text-decoration: none;
    color: #1A1A1A;
    font-family: "Montserrat";
    cursor: pointer;
    border: #1A1A1A 3px solid;
    font-weight: 600;
    font-size: 22px;
    border-radius: 15px;
    padding: 5px 10px;
    transition: 0.5s;
    margin: auto;
}

.active-product {
    background-color: #FFD200;
    border: #FFD200 3px solid !important;
}

.products-nav a:hover {
    background-color: #FFD200;
    border: #FFD200 3px solid !important;
}

.products-outer-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0 5% 3% 5%;
}

.products-outer-grid .white-back-heading {
    margin-left: 0;
    font-size: 32px;
}

.products-filter {
    padding-left: 10%;
}

.filter-heading h1 {
    margin-top: 50px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    border-bottom: 2px solid #FFD200;
    padding-bottom: 3px;
    color: #1A1A1A;
    text-transform: uppercase;
    display: inline-block;
}

.filter-options {
    padding: 20px 0 20px 10px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    color: #1A1A1A;
    font-family: "Montserrat";
    cursor: pointer;
    font-weight: 400;
    font-size: 22px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #5353533f;
    border-radius: 50%;
}

.container:hover input~.checkmark {
    background-color: #1A1A1A;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #FFD200;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 8px;
    left: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1A1A1A;
}




/* Products Grid */

.products-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 50px;
}

.product {
    width: 25%;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    margin-bottom: 40px;
}

.product-img {
    height: 40vh;
    background-size: cover;
    background-position: center;
    border: #333333 2px solid;
    border-radius: 20px;
    position: relative;
}


.product-description h4 {
    color: #1A1A1A;
    font-family: "Montserrat";
    font-size: 24px;
    margin-left: 10px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 2px solid #1A1A1A;
    padding: 5px 0 1px 0;
    transition: 0.5s;
}

.product-description p {
    color: #333333;
    font-family: "Montserrat";
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
    padding: 5px 0;
}


.product:hover .product-img {
    border: #FFD200 2px solid;
}


.product:hover .product-description h4 {
    border-bottom: 2px solid #FFD200;
    transform: scale(1.1);
}

.clear-filter-button {
    text-align: center;
    width: 200px;
    border-radius: 20px;
    background-color: #FFD200;
    border: #FFD200 2px solid;
    margin-top: 40px;
    transition: 0.5s;
}

.clear-filter-button p {
    cursor: pointer;
    color: #1A1A1A;
    font-family: "Montserrat";
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    padding: 3px 10px;
}

.clear-filter-button:hover {
    border: #1A1A1A 2px solid;
    background-color: transparent;
}


.products-back-button {
    margin: 40px 0;
}

.products-back-button a {
    margin-left: 5%;
    font-family: "Montserrat";
    text-decoration: none;
    font-size: 20px;
    border: #1A1A1A 2px solid;
    padding: 5px 30px;
    border-radius: 20px;
    color: #1A1A1A;
    font-weight: 500;
    transition: 0.4s;
    display: flex;
    align-items: center;
    width: 200px;
}

.products-back-button i {
    margin-right: 5px;
    font-size: 16px;
}

.products-back-button a:hover {
    background-color: #FFD200;
    border: #FFD200 2px solid;
}



/* Ladders Tab */



#ils .product-img {
    background-image: url("../images/products/ladders/ils/1.jpg");
}

#ilsh .product-img {
    background-image: url("../images/products/ladders/ilsh/1.jpg");
}

#ildl .product-img {
    background-image: url("../images/products/ladders/ildl/1.jpg");
}

/* Trolleys Tab */

.trolley-products-section {
    display: none;
}

#fn1 .product-img {
    background-image: url("../images/products/trolleys/FN1.jpg");
}

#fn2 .product-img {
    background-image: url("../images/products/trolleys/FN2.jpg");
}

#fn3 .product-img {
    background-image: url("../images/products/trolleys/FN3.jpg");
}




/* Ladders Product Page */



.ladder-product-body .products-page-header {
    background-image: url("../images/section-headers/ladder-page-header.jpg");
}

.ladder-product-name {
    padding: 0 5%;
    font-family: "Montserrat";
}

.ladder-product-name h1 {
    font-size: 32px;
    color: #1A1A1A;
    padding: 5px;
    display: inline-block;
    border-bottom: 2px solid #1A1A1A;
}

.ladder-product-name h4 {
    font-size: 26px;
    color: #333333;
    padding: 5px;
    font-weight: 400;
}

.ladder-product-grid {
    display: flex;
    padding: 30px 2% 3% 5%;
    ;
    align-items: flex-start;
}

.ladder-product-img {
    width: 30%;
    height: 60vh;
    border: 2px solid #333333;
    border-radius: 20px;
    margin-right: 5%;
    background-position: center;
    background-size: cover;
}

#ils-img {
    background-image: url("../images/products/ladders/ils/1.jpg");
}

.ladder-product-details {
    width: 65%;
}

.ladder-product-details h3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 30px;
    border-bottom: 2px solid #FFD200;
    padding-bottom: 3px;
    color: #333333;
    text-transform: uppercase;
    display: inline-block;
}

.ladder-product-details ul {
    list-style: none;
    padding-left: 0;
}

.ladder-product-details li {
    color: #333333;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 20px;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.ladder-product-details li i {
    color: #333333;
    font-size: 14px;
    margin-right: 10px;
}

.ladder-product-uses {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.ladder-product-uses div:nth-child(1) {
    width: 20%;
}

.ladder-product-uses div:nth-child(1) img {
    width: 60%;
    margin: auto;
    display: block;
}

.ladder-product-uses div:nth-child(3) {
    padding-left: 30px;
}

.ladder-product-uses:nth-child(3) img {
    width: 50%;
}

.ladder-uses-divider {
    width: 2px;
    background-color: #FFD200;
    height: 8vh;
    display: block;
}

.ladder-product-specs-mobile > div {
    display: none;
}

.ladder-product-specs {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.ladder-product-specs h4 {
    background-color: #333333;
    padding: 8px 0 8px 5px;
    font-size: 22px;
    font-family: "Montserrat";
    color: #ffffff;
    font-weight: 500;
    width: 18%;
}

.ladder-product-specs .white-divider {
    width: 2px;
    height: 100%;
    background-color: #FFFFFF;
}

.ladder-product-specs .white-divider {
    width: 2px;
    height: 100%;
    background-color: #333333;
}

.ladder-product-specs p {
    padding: 15px 0 15px 5px;
    font-size: 20px;
    font-family: "Montserrat";
    color: #333333;
    ;
    font-weight: 500;
    width: 18%;
}


/* Trolley Product Page */
.trolley-product-body .ladder-product-specs h4 {
    width: 20%;
}

.trolley-product-body .ladder-product-specs p {
    width: 20%;
}

#fn1-img {
    background-image: url("../images/products/trolleys/FN1.jpg");
}






/* ----------------------------------------------------- */

/* Quote Page */


.quote-page-header {
    background-image: url("../images/section-headers/quote-page-header.jpg");

}
